
.container{
    background-color: yellowgreen;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 12px;
}

.card-1 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-1.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-2 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-2.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-3 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-3.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-4 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-4.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-5 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-5.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-6 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-6.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-7 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-7.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-8 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-8.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-9 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-9.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}

.card-10 {
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url('picture-10.jpg');
    width: 150px;
    padding: 20px;
    margin: 20px;
    background-position: center;
}